@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #303030; */
  /* background-color: #c0c0c0; */
}

.sideBorder {
  border-right: 1px solid black;
  height: 600px;
}

.transporter {
  display: block;
  color: white;
  background-color: #336699
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
}


.history {
  background-color: #455a64;
}

.collection {
  background-color: #455a64;
  color: white;
}

.addTo {
  background-color: #455a64;
  color: white;
}

.method {
  background-color: #E5461E;
  color: white;
}

.addRow {
  background-color: #E5461E;
  color: white;
}

.clearAll {
  background-color: #90a4ae;
  color: white;
}

.send {
  background-color: #E5461E;
  color: white;
}

.table {
  /* border-collapse: collapse; */
  background-color: #455a64;
  color: white;

}

.save {
  background-color: #336699;
  color: white;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #455a64;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
  color: black;
}

.dark {
  background-color: #212121;
}


.dark .btn-primary {
  color: #fff;
  background-color: #E5461E;
  border-color: #E5461E;
}

.dark .btn-primary:hover {
  color: #fff;
  background-color: #E5461E;
  border-color: #E5461E;
  box-shadow: 0 0 0 0.2rem #E5461E;
}



.dark .send {
  background-color: #E5461E;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 1px 10px 10px 1px;
}

.dark .send:focus {
  background-color: #E5461E;
}

.dark .input {
  background-color: #E5461E;
  color: white;
  cursor: pointer;
}


.dark .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: #455a64;
}

.dark .nav-pills .nav-link,
.nav-pills .show>.nav-link {
  color: white;
}

.dark .textcolor {
  color: white;
}

.dropdown-menu a:focus {
  background-color: #336699;
}