.color {
    background-color: #e8e8e8;
    height: 3.8em;
    padding-right: -10px;
    padding-left: -10px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.sideBorder {
    border-right: 4px solid black;
}

.rightBorder {
    padding-left: 2em;
}

.send {
    background-color: rgb(228, 172, 68);
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px 10px 10px 1px;
}

.send:focus {
    box-shadow: red;
    outline-width: 1px;
    outline-color: red;
}

.send:hover {
    background-color: rgb(255, 136, 0)
}

.ImportExport {
    background-color: rgb(228, 172, 68);
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.ImportExport:focus {
    box-shadow: red;
    outline-width: 1px;
    outline-color: red;
}

.ImportExport:hover {
    background-color: rgb(255, 136, 0)
}

.Transporter {
    background-color: rgb(0, 174, 255);
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

.Transporter:focus {
    outline: 0
}

.input {
    background-color: rgb(228, 172, 68);
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.input:focus {
    box-shadow: red;
    outline-width: 1px;
    outline-color: red;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: rgb(228, 172, 68);
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: rgb(228, 172, 68);
    border-color: rgb(228, 172, 68)
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(228, 172, 68);
    border-color: rgb(228, 172, 68);
    box-shadow: 0 0 0 0.2rem rgb(228, 172, 68);
}

a {
    outline-color: grey;
}

a.nav-link {
    outline-style: solid;
    outline-width: thin;
}

.drop {
    outline-style: solid;
    outline-width: thin;
    outline-color: black;

}

.dark {
    background-color: black;
}

.dark .ImportExport {
    background-color:#ADD8E6;
}

.dark .btn-primary {
    color: #fff;
    background-color: #ADD8E6;
    border-color: #ADD8E6;
}

.dark .btn-primary:hover {
    color: #fff;
    background-color:#ADD8E6 ;
    border-color: #ADD8E6;
    box-shadow: 0 0 0 0.2rem #ADD8E6;
}

.dark .send {
    background-color:#ADD8E6 ;
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px 10px 10px 1px;
}

.dark .send:focus {
    background-color:#ADD8E6;
}

.dark .input {
    background-color: #ADD8E6;
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.dark .input:focus {
    box-shadow:blue;
    outline-width: 1px;
    outline-color:blue;
}

.dark .color {
    background-color:rgb(247, 131, 131);
    padding-right: -10px;
    padding-left: -10px;
}

.dark .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color:white;
    background-color:#ADD8E6 ;
}
.dark .nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color:white;
}

.dark .textcolor{
    color:white;
}

